:root {
  --plot1: #0074d9;
  --plot1Fill: color-mix(in srgb, var(--plot1) 50%, transparent);
}

svg {
  outline: 1px solid black;
  padding: 10px 10px;
  /* margin: 10px; */
  box-sizing: content-box;
}

svg text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8em;
}


/* g {
    outline: 1px solid green;
} */

.integral {
  fill: var(--plot1Fill);
}

#graph {
  height: calc(100vh - 50px);
}
.chartContainer {
  display: grid;
  grid-auto-rows: 1fr;
  height: 100%;
}

.graph {
  overflow: hidden;
  outline: 1px solid orange;

}

.plot {
  fill: none;
  stroke: var(--plot1);
  stroke-width: 1pt;
  stroke-linejoin: round;
}

.zoom {
  fill: none;
  stroke: blue;
  stroke-width: 1px;
}

.plot0 {
  stroke: green;
}

.plot1 {
  stroke: black;
}

/* #graph {
    outline: 1px solid green;
} */

.scroll-drag-horiz:hover {
  cursor: url("./assets/cursors/grab-scroll-horiz.svg") 16 16, pointer;
}

.scroll-drag-vert:hover {
  cursor: url("./assets/cursors/grab-scroll-vert.svg") 16 16, pointer;
}
