.split-div-container {
  display: grid;
  height: 100%;
  
  overflow: hidden;
}
.split-div-horizontal {
  grid-template-columns: auto 9px 1fr;
}
.split-div-vertical {
  grid-template-rows: auto 9px 1fr;
}
.split-div-child {
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;
}
.split-div-first {
  /* background-color: aliceblue; */
  height: 100%;
}
.split-div-bar {
  display: grid;
}
.split-div-bar::after{
  background-color: blue;
}

.split-div-bar-horizontal {
  justify-content: center;
  cursor: col-resize;
}



.split-div-bar-horizontal::after {
  content: '';
  width: 1px;
  /* transform: translate(-1px,0); */

}
.split-div-bar-horizontal:hover::after {
  box-shadow: 0 0 5px black;
  transition: 300ms;
}
.split-div-bar-vertical {
  align-items: center;
  cursor: row-resize;
}
.split-div-bar-vertical::after {
  content: '';
  height: 1px;
}
.split-div-bar-vertical:hover::after {
  box-shadow: 0 0 5px black;
  transition: 300ms;
}
.split-div-second {
  height: 100%;
  /* background-color: antiquewhite; */
}
