.split-div-container {
  display: grid;
  height: 100%;
  /* margin-left: 0px; */
  overflow: hidden;
}
.split-div-horizontal {
  grid-template-columns: auto 8px 1fr;
}
.split-div-vertical {
  grid-template-rows: auto 8px 1fr;
}
.split-div-child {
  min-width: 100px;
  min-height: 100px;
}
.split-div-first {
  background-color: aliceblue;
  height: 100%;
}
.split-div-bar {
  background-color: red;
}
.split-div-bar-horizontal {
  cursor: col-resize;
}
.split-div-bar-vertical {
  cursor: row-resize;
}
.split-div-bar:before {
  content: '';
  background: linear-gradient(#000, #000) no-repeat center/2px 100%;
}
.split-div-second {
  height: 100%;
  background-color: antiquewhite;
}
